meta(name='viewport' content='width=device-width, initial-scale=1')
link(href='/styles.css' rel='stylesheet' type='text/css')
link(href='/skeleton.css' rel='stylesheet' type='text/css')

mixin branding
	img(src='/logo.svg')
	hr

mixin mobi
	div.mobi-container
		block

mixin tel
	a(href='tel:+16127912114') +1 (612) 791-2114
