include boilerplate.pug

+mobi
	+branding

	table
		tr 
			th Start date: 
			td(style='text-align: right') 11/9/18
		tr
			th Ownership: 
			td(style='text-align: right') lawrence-lease

		tr
			th Truck number: 
			td(style='text-align: right') 227356

		tr
			th Farthest distance: 
			td(style='text-align: right') Wheaton, MN

		tr
			th Ending reefer hour: 
			td(style='text-align: right') 2081

	table
		tr
			th Miles
			th Date
			th MN
			th ND
			th SD
			th HWYS Travelled
		tr
			td 89003
			td 11/9/18
			td
			td
			td
			td
		tr
			td 89021
			td 11/9/18
			td
			td 18
			td
			td
		tr
			td 89234
			td 11/14/18
			td
			td 213
			td
			td i-94


