include boilerplate.pug

+mobi
	+branding
	h3 #{customercode} hasn't been registered yet. This is probably our mistake.
	p
		| Give us a call at 
		+tel
		| . We'll work on fixing the problem. Thank you for your patience.
